<div class="contenedor-blog">
    <!-- Panel izquierdo -->
    <div class="panel-izquierdo">
        <h2> Añade una noticia</h2>

        <form (submit)="agregarNoticia()" #formNoticia="ngForm">
            <!--Titulo-->
            <label for="titulo">Título</label>
            <input id="titulo" type="text" [(ngModel)]="newNoticia.titulo" name="titulo" required/>

            <!--Imagen-->
            <label for="imagen">URL de la imagen</label>
            <input id="imagen" type="url" [(ngModel)]="newNoticia.imagen" name="imagen" required/>

            <!--Texto-->
            <label for="texto">Texto</label>
            <textarea id="texto" rows="4" [(ngModel)]="newNoticia.texto" name="texto" required></textarea>

            <!--Fecha-->
            <label for="fecha">Fecha</label>
            <input id="fecha" type="date" [(ngModel)]="newNoticia.fecha" name="fecha" required/>

            <button type="submit">Publicar noticia</button>
        </form>
    </div>

    <!-- Panel derecho -->
    <div class="panel-derecho">
        <h2> Noticias del día</h2>

        <div class=" lista-noticias ">
            @for (noticia of noticias; track noticia) {
            <div class="card ">
                <img [src]="noticia.imagen" alt="{{ noticia.titulo }}" />
                <div class="card-body ">
                    <h5>{{noticia.titulo}}</h5>
                    <p>{{noticia.texto}}</p>
                    <small> {{noticia.fecha}}</small>
                </div>
            </div>
            }
        </div>
    </div>
</div>